@font-face {
  font-family: 'Montserrat';
  src: url("/fonts/Montserrat-Light.woff") format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Montserrat';
  src: url("/fonts/Montserrat-Regular.woff") format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Montserrat';
  src: url("/fonts/Montserrat-Medium.woff") format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Montserrat';
  src: url("/fonts/Montserrat-SemiBold.woff") format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Montserrat';
  src: url("/fonts/Montserrat-Bold.woff") format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}

html,
body {
    padding: 0;
    margin: 0;
		font-family: 'Montserrat', sans-serif !important;
    scroll-behavior: smooth;
}

.no-scroll {
  overflow: hidden !important;
}

::-webkit-scrollbar-track {border-radius: 4px;}
::-webkit-scrollbar {width: 6px;}
::-webkit-scrollbar-thumb {border-radius: 4px;background: #4a4a4a;}
:hover::-webkit-scrollbar-thumb {background: #6a7d9b;}

/* .swiper-pagination-progressbar {
  bottom: 30px !important;
  top: auto !important;
  left: auto !important;
  right: 10px !important;
  width: 60px !important;
  border-radius: 70px !important;
  background: rgba(0, 0, 0, 0.2) !important;
}

.swiper-pagination-progressbar::after {
  display: block !important;
  content: '';
  width: 130px !important;
  height: 30px !important;
  position: absolute;
  top: -50%;
  right: -20px;
  transform: translateY(-40%);
  background: rgba(32, 35, 40, 0.6);
  border-radius: 4px 0px 0px 4px;
  z-index: 9;
}

.swiper-pagination-progressbar-fill {
  background: rgba(0, 0, 0, 0.6) !important;
  border-radius: 70px !important;
}

@media (min-width: 1280px) {
  .swiper-pagination-progressbar {
    bottom: 43px !important;
    top: auto !important;
    left: auto !important;
    right: 50px !important;
    width: 160px !important;
  }
  .swiper-pagination-progressbar::after {
    width: 360px !important;
    height: 90px !important;
    right: -50px;
    border-radius: 10px 0px 0px 0px;
    top: -50%;
    transform: translateY(-50%);
  }
} */

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 14px;
  height: 14px;
  border: 1px solid #92afd6;
  border-radius: 100%;
  display: grid;
  place-content: center;
  background-color: white;
  cursor: pointer;
}

input[type="checkbox"]::before {
  content: "";
  width: 10px;
  height: 10px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #FFAE13;
  transform-origin: center;
  border-radius: 100%;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}