@font-face {
  font-family: 'Montserrat';
  src: url("/fonts/Montserrat-Light.woff") format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Montserrat';
  src: url("/fonts/Montserrat-Regular.woff") format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Montserrat';
  src: url("/fonts/Montserrat-Medium.woff") format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Montserrat';
  src: url("/fonts/Montserrat-SemiBold.woff") format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Montserrat';
  src: url("/fonts/Montserrat-Bold.woff") format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}

html,
body {
    padding: 0;
    margin: 0;
		font-family: 'Montserrat', sans-serif !important;
    scroll-behavior: smooth;
}

.no-scroll {
  overflow: hidden !important;
}

::-webkit-scrollbar-track {border-radius: 4px;}
::-webkit-scrollbar {width: 6px;}
::-webkit-scrollbar-thumb {border-radius: 4px;background: #4a4a4a;}
:hover::-webkit-scrollbar-thumb {background: #6a7d9b;}

.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
